body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: black;
}
.animation-box{
    width: 75% ;
    height: 27.5rem;
    margin: auto;
    overflow: hidden;
    position: relative;
}
.first-text{
    font-size: 40px;
    color: #696969;
    text-align: center;
    position: absolute;
    padding-right: 0px;
    top: 5rem;
    font-weight: 400;
    opacity: 0 ;
    animation-name: text1;
    animation-duration: 10s;
    animation-delay: 0s;
}
.second-text{
    font-size: 30px;
    color: #C0C0C0;
    text-align: center;
    position: absolute;
    top: 8rem;
    font-weight: 400;
    opacity: 0 ;
    animation-name: text2;
    animation-duration: 8s;
    animation-delay: 10s;
}
.third1{
    font-size: 30px;
    color: #555555;
    text-align: center;
    position: absolute;
    left: 80%;
    top: 45%;
    font-weight: 400;
    opacity: 0;
    animation-name: text3;
    animation-duration: 10s;
    animation-delay: 15s;
    transform: rotate(-90deg);
    white-space: nowrap;

}

.third-text{
    font-size: 28px;
    color: #B8B8B8;
    text-align: center;
    position: absolute;
    left: 20%;
    top: 8rem;
    font-weight: 400;
    opacity: 0 ;
    animation-name: text22;
    animation-duration: 12s;
    animation-delay: 20s;
}
.fourth-text{
    font-size: 26px;
    color: #C0C0C0;
    text-align: center;
    position: absolute;
    left: 2.5rem;
    bottom: 1.5rem;
    font-weight: 400;
    opacity: 0 ;
    animation-name: text4;
    animation-duration: 10s;
    animation-delay: 30s;
}
.fifth-text{
    font-size: 20px;
    color: #C4C4C4;
    text-align: center;
    position: absolute;
    left: 5%;
    bottom: 25%;
    font-weight: 400;
    opacity: 0 ;
    animation-name: text5;
    animation-duration: 8s;
    animation-delay: 35s;
}
.sixth-text{
    font-size: 30px;
    color: #B0C4DE;
    text-align: center;
    position: absolute;
    left: 35%;
    bottom: 45%;
    font-weight: 400;
    opacity: 0;
    animation-name: text6;
    animation-duration: 8s;
    animation-delay: 40s;
    transform: rotate(-90deg);
    white-space: nowrap;
}

@keyframes text1 {
    0%{
        top:-3rem;
        opacity: 0;
    }
    75%{
        top: 25%;
        opacity: 1;
        color: #C4C4C4;
    }
    100%{
        color: #696969;
        opacity: 0;
    }
}
@keyframes text2 {
    0%{
        top:-3rem;
        opacity: 0;
    }
    75%{
        top: 30%;
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes text3 {
    0%{
        left: 60%;
        opacity: 0;
    }
    50%{
        color: #C4C4C4;
        left: 50%;
        opacity: 1;
    }
    100%{
        opacity: 0;
    }  
}
@keyframes text22 {
    0%{
        top:-3rem;
        opacity: 0;
    }
    75%{
        top: 40%;
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes text4 {
    0% {
        transform: translateY(100%); 
        opacity: 0;
    }
    50% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%); 
        opacity: 0; 
    }
}
@keyframes text5 {
    0% {
        transform: translateY(100%); 
        opacity: 0;
    }
    50% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100%); 
        opacity: 0; 
    }
}
@keyframes text6 {
    0% {
        transform: rotate(-40deg) translateY(-100%); 
        font-size: 40px;
        opacity: 0;
    }
    50% {
        transform: rotate(-20deg) translateY(0); 
        font-size: 60px;
        opacity: 1;
    }
    75% {
        transform: rotate(0deg) translateY(0);
        opacity: 1;
    }
    100%{
        transform: rotate(0deg) translateY(100%);
        opacity: 0;
    }
}
audio {
    display: none;
}